*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #C19A6B;
    font-family: "Patrick Hand", cursive;
}
.tipsyHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipsyLogo{
    display: flex;
    width: 14rem;
    height: 9rem;
}


.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
    height: 9em;
    width: 15em;
    background-image: url(./images/navsign.png);
    object-fit: cover;
    background-size: 100%;
    color: #EDE8D0;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.heroCont{
    display: flex;
    max-height: 400px;
    justify-content: center;
    gap: 10%;
    margin: 10px;
}

.tipsyHero{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    width: 22em;
    height: 22em;
    background-image: url(./images/Parchment.png);
    flex: none;
}

.heroTitle{
    font-size: 20px;
    width: 10em;
}

.heroText{
    width: 14em;
}

.tavernImage{
    display: flex;
    height: 25em;
}

.tipsySpecial{
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialDescript{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specialTitle{
    color: #23160f;
    text-shadow: -1px -1px 0 white,  0.5px -1px 0 white,-1px  0.5px 0 white,0.5px  0.5px 0 white;
}
.specialText{
    width: 100%;
    align-items: center;
    color: #EDE8D0;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.dreamerImg{
    display: flex;
    width: 45%;
    max-width: 100%;
    height: Auto;
    object-fit: cover;
}

.aboutCont{
    display: flex;
    margin: 10px;
    gap: 2em;
}

.aboutUs{
    display: flex;
    flex-direction: column;
    height: 21em;
    width: 25em;
    color: #EDE8D0;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.aboutGall{
    width: 30em;
    color: #EDE8D0;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.tipsyInside{
    width: 28.3em;
}

.aboutContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDE8D0;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

textarea{
    width: 30em;
    height: 10em;
}

button{
    display: flex;
    width: 5em;
    height: 2em;
    justify-content: center;
    align-items: center;    
}

footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 5%;
    color: white;
    flex-direction: column;
}

.backCont{
    background-image: url(./images/Background\ wood.jpg);
}

#titleShadow{
    color: #23160f;
    text-shadow: -1px -1px 0 white,  0.5px -1px 0 white,-1px  0.5px 0 white,0.5px  0.5px 0 white;
}